<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjl.mapper.EmpMapper">
	<sql id="seleteAll">
	SELECT id, userpswd, loginacct, email, username,createtime from t_admin
	</sql>
	<select id="getAllEmp" resultType="emp">
		<include refid="seleteAll"></include>
	</select>
	
</mapper>